.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
	 
	align-items: center;
}

.inner {
	display: flex;
  justify-content: space-between;
}

.logo {
	background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
	
	transition: background-color .1s ease-in-out;
	
  &:hover {
		background-color: #4361ee;
  }
}

.buttons {
	display: flex;
	justify-content: center;
	align-items:center;
	gap: 30px;
	
	
	button {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
  }
	
  a {
		text-decoration: none;
  }

	.userIcon, 
	.addPostIcon {
		margin-bottom: -7px;
		height: 25px;
		transition: all .1s ease-in-out;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}
	}
	.logoutIcon {
		height: 21px;
		transition: all .1s ease-in-out;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}
	}

}

.loginButtons {
	display: flex;
	gap: 13px;
}
