$spinner-color: black;
$spinner-width: 38px;

.container {
	width: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 720px;
	align-items: center;
	justify-content: space-around;
}

.fullSize {
	height: 735px;
}

/* Keyframes Spin */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Spinner */
.spinner {
	aspect-ratio: 1/1;
	border-radius: 50%;

	animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.spinnerQuarter {
	width: $spinner-width;
	border: 4px solid $spinner-color;
	border-top-color: transparent;
	animation-duration: 1s;
}
